.btn_saveChange {
        border: none;
        color: black;
        padding: 10px 52px;
        margin-top: 1rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
.add_inp {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}